[user]
  name = Derek Greer
  email = dgreer@themxgroup.com

[core]
  filemode = true
  editor = vim
  autocrlf = true
  askpass = git-gui--askpass

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[diff]
  tool = kdiff3

[difftool]
  prompt = false

[difftool "kdiff3"]
  path = /mnt/c/Program Files/KDiff3/kdiff3.exe
  trustExitCode = false
  cmd = kdiff3.exe `wslpath -w $LOCAL` `wslpath -w $REMOTE`

[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[merge]
  tool = kdiff3

[mergetool]
  keepBackup = false
  keepTempporaries = false
  trustExitCode = false

[mergetool "kdiff3"]
  path = /mnt/c/Program Files/KDiff3/kdiff3.exe

[mergetool "vscode"]
  cmd = code --wait $MERGED

[push]
  default = simple
  followTags = true

[alias]
  aliases = config --get-regexp '^alias\\.'
  lns = log --name-status
  prev = checkout @{-1}
  co = checkout
  br =  branch --sort=-committerdate
  branch = branch --sort=-committerdate
  st = status
  unstage = reset HEAD --
  last = log -1 HEAD
  clean-all = clean -x -d -f
  graph = log --graph --decorate
  edit-config = config --global --edit
  diff-main = log --cherry-pick --oneline --no-merges --right-only main...HEAD
  diff-develop = log --cherry-pick --oneline --no-merges --right-only develop...HEAD
  diff-branch = log --cherry-pick --oneline --no-merges --right-only $1...HEAD
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  review = "!f() { git fetch origin \"$1\" ; git checkout \"$1\"; }; f"
  pw-reset = config --global credential.helper osxkeychain
  pw-reset-win = config --global credential.helper wincred

[pull]
  rebase = true

[rerere]
  enabled = true

[winUpdater]
  recentlySeenVersion = 2.20.1.windows.1

[http]
  sslVerify = false

[credential]
        #helper = osxkeychain
        #helper = manager
        #helper = osxkeychain

[remote "origin"]
  prune = true
